@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
